<div class="container">
  <H1>teste works!</H1>
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup)="sendData($event)"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Abbreviation</th>
        <th scope="col">City</th>
        <th scope="col">Conference</th>
        <th scope="col">Division</th>
        <th scope="col">Full Name</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista">
        <td>{{item.id}}</td>
        <td>{{item.abbreviation}}</td>
        <td>{{item.city}}</td>
        <td>{{item.conference}}
          <i *ngIf="item.conference.trim() == 'Leste'" class="fa fa-check-square" aria-hidden="true"></i>
          <i *ngIf="item.conference.trim() == 'Oeste'" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        </td>
        <td>{{item.division}}</td>
        <td>{{item.full_name}}</td>
        <td>{{item.name}}</td>


      </tr>
    <!--  <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>
  <button type="button" class="btn btn-primary btn-lg">Exportar para excel</button>
</div>
